#:schema node_modules/wrangler/config-schema.json
name = "bigplans"
main = "src/server/index.ts"
compatibility_date = "2024-12-01"

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "bigplans-db"
database_id = ""

[vars]
ENVIRONMENT = "development"
